.content-form{
    display: flex;
    justify-content: center;
}

.full-600{
    width: 600px;
}

.full{
    width: 100%;
}

.title{
    font-weight: bold;
}

.text-center{
    text-align: center;
}

.mat-success {
    background-color: green;
    color: #fff;
}

.mat-neutral {
    background-color: yellow;
    color: #fff;
}