<div class="content-form">
    <mat-card class="full-600">
        <mat-card-title>
            <h2 class="text-center">Nueva Emoción</h2>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="full" appearance="fill">
                <mat-label>Ingresa tu nombre</mat-label>
                <input matInput [(ngModel)]='nombre' required>
            </mat-form-field>

            <table class="full">
                <tr class="title text-center">
                    <td>Variable de estado</td>
                    <td>Poco</td>
                    <td>Medio</td>
                    <td>Mucha</td>
                </tr>
                <tr>
                    <td>
                        <div class="content-form">

                            <img src="./../../../assets/img/happy.png" width="80px" />
                        </div>
                    </td>
                    <td colspan="3">
                        <div >
                            <mat-slider class="full" thumbLabel [tickInterval]="getSliderTickInterval()"
                            [(ngModel)]="valorFeliz" step="1" min="0"
                                max="99" aria-label="units"></mat-slider>
                                <p><b>Valor seleccionado:</b> {{valorFeliz}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content-form">
                            <img src="./../../../assets/img/angry.png" width="80px" />
                        </div>
                    </td>
                    <td colspan="3">
                        <div >
                            <mat-slider class="full" thumbLabel [tickInterval]="getSliderTickInterval()"
                            [(ngModel)]="valorMolesto" step="1" min="0"
                                max="99" aria-label="units"></mat-slider>
                                <p><b>Valor seleccionado:</b> {{valorMolesto}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="content-form">
                            <img src="./../../../assets/img/tired.png" width="80px" />
                        </div>
                    </td>
                    <td colspan="3">
                        <div >
                            <mat-slider class="full" thumbLabel [tickInterval]="getSliderTickInterval()"
                            [(ngModel)]="valorNormal" step="1" min="0"
                                max="99" aria-label="units"></mat-slider>
                                <p><b>Valor seleccionado:</b> {{valorNormal}}</p>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="content-form" style="margin-top: 50px;">
                <button mat-flat-button color="primary" type="submit" (click)="enviarEmocion()" [disabled]="!isData">Agregar</button>
            </div>

        </mat-card-content>
        <div style="margin: 20px;">
            <h2>Alegre</h2>
            <canvas id="alegre" style="margin-bottom: 20px;"></canvas>
            <h2>Molesto</h2>
            <canvas id="molesto" style="margin-bottom: 20px;"></canvas>
            <h2>Tranquilo</h2>
            <canvas id="normal" style="margin-bottom: 20px;"></canvas>
        </div>
        
    </mat-card>
</div>